.textedit-button {
	padding: 3px;
	border: 1px solid black;
	background-color: wheat;
	top: 416px;
	left: 500px;
	width: 54px;
	height: 14px;
	position: absolute;
	z-index: 100;
	color: black;
	cursor: pointer;
}

.snapshot-button {
	padding: 3px;
	border: 1px solid black;
	background-color: wheat;
	top: 416px;
	left: 558px;
	width: 54px;
	height: 14px;
	position: absolute;
	z-index: 100;
	color: black;
	cursor: pointer;
}

.caption {
	/*
	width: 372px;
	left: 50%;
	margin-left: -314px;*/
	/*height: 81px;
	top: 287px;*/
	padding: 3px;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	color: white;
	position: absolute;
	z-index: 100;
}

.caption:hover, .caption:active {
	border: 1px dotted white;
}

.mouse-selection {
	border: 1px dotted white;
	position: absolute;
}

.no-border {
	border: none;
}

.hidden {
	display: none;
}